@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
}

* {
  box-sizing: border-box;
}

/* Custom Scrollbar Styling for WebKit Browsers (Chrome, Safari, Edge) */
::-webkit-scrollbar {
  width: 4px; /* Set width of the vertical scrollbar */
  height: 4px; /* Set height of the horizontal scrollbar */
}

/* Track of the scrollbar */
::-webkit-scrollbar-track {
  background: transparent; /* Color of the track */
  border-radius: 50%; /* Rounded track corners */
}

/* Thumb of the scrollbar */
::-webkit-scrollbar-thumb {
  background-color: #0f0e2c; /* Scrollbar color */
  border-radius: 50%; /* Rounded track corners */
  border: 1px solid transparent; /* Padding around thumb */
}

/* Scrollbar hover effect */
::-webkit-scrollbar-thumb:hover {
  background-color: #0c0b29; /* Slightly darker thumb color on hover */
}
::-webkit-scrollbar-button {
  display: none;
}
/* }
  .swiper-wrapper {
          height: fit-content !important;
          width: 100% !important;
      }
      .swiper-pagination{
          display: flex !important;
          align-items: center !important;
          justify-content: start !important;
          gap: 16px !important;
          position: relative !important;
      }
      .swiper-pagination-bullet {
          width: 42px !important;
          height: 42px !important;
          text-align: center !important;
          display: flex !important;
          align-items: center !important;
          justify-content: center !important;
          line-height: 26px !important;
          font-size: 16px !important;
          color: #6B7280 !important;
          opacity: 1 !important;
          background: #F9FAFB !important;
          border: 1px solid #E5E7EB !important;
      }
      .swiper-pagination-bullet-active {
      color: #fff !important;
      background: #48575F !important;
      }
.swiper-wrapper {
    height: fit-content !important;
    width: 100% !important;
}
      .swiper-horizontal>.swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal, .swiper-pagination-custom, .swiper-pagination-fraction {
        bottom: var(--swiper-pagination-bottom,0px) !important;
      }
::-webkit-scrollbar-track-piece {
  background: transparent; /* Makes the track piece invisible 
}

* {
  scrollbar-track-color: transparent; /* Track color 
  scrollbar-width: thin; /* Thin scrollbar 
  scrollbar-arrow-color: transparent;
}
.swiper-pagination1 .swiper-pagination-bullet {
  padding: 0.5rem 1rem !important;
  background: #f0f0f0 !important;
  border-radius: 10px !important;
  width: fit-content !important;
  cursor: pointer !important;
  transition: background 0.3s !important;
}
  .swiper-pagination1 .swiper-pagination-bullet-active {
      color: #fff !important;
      background: #48575F !important;
      }
 */
